<launch>
    <arg name="model" default="burger"/>
    <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find turtlebot3_rl_nav)/worlds/my_stage1.world"/>
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="headless" value="false" />
        <arg name="debug" value="false" />
    </include>
    
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'" />

    <node name="spawn_turtlebot3" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model turtlebot3 -x -2.0 -y 0.0 -z 0.1"/>

</launch>